$azul : #002858;
$azul2 : #002858aa;
$amarillo: #ffc836;

html,body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $azul2;
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $amarillo;
    position: relative;
}

.borrar {
    background-color: $amarillo;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: $azul;
}

section {
    border-bottom: white 1px solid;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    
}

.menu button {
    width: 100%;
    padding: 1.7em;
    background-color: $azul;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: $amarillo;
    color: black;
}

div#formulario {
    display: none;
    justify-content: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#confirmacionBorrar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
}

table,th,tr,td {
    border: $amarillo 2px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 0.8em;
}

table {
    border: $amarillo 4px solid;
    max-width: 80%;
    min-width: auto;
    width: 100%;
}

th {
    background-color: $amarillo;
    color: $azul;
}
td {
    font-size: 0.8rem;
}

tr:hover {
    background-color: $amarillo;
    color: $azul;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 120%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

label {
    display: block;
}

input {
    width: 50%;
    padding: 8px;
    // margin-top: 4px;
    // margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input[type="date"] {
    padding: 8px 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
